@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "style/general.scss";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.table-hover,
form {
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.274);
}

button {
    color: white;
}

label {
    font-size: 1rem;
}
