@import "../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./style/CadastroCliente.scss";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}