body {
  background: url("style/img/back-img.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

label {
  color: white;
  text-shadow: 10px 10px 10px #000000; }

.col-sm-2 {
  color: white;
  text-shadow: 10px 10px 10px #000000; }
